<div ng-class="{mob: creatorCtrl.checkMobile()}" style="font-family:rale_font;">
  <h3 class="text-center" style="font-size: 2.75rem; font-family:title_font; padding-bottom:5px;">Character Creator</h3>
  <div ng-controller="ClanController as clanCtrl">
    <div class="text-center">
      <div class="container">
        <div class="row pt-4 pb-2">
          <div class="mx-auto col-9 col-sm-8 col-md-7 col-lg-4 col-xl-3">
            <label for="charName" class="char-label" termindex term="Name">Name</label>
            <input class="form-control" id="charName" ng-model="creatorCtrl.charName"
                   ng-blur="creatorCtrl.setName(creatorCtrl.charName)"/>
          </div>
          <div class="mx-auto col-9 col-sm-8 col-md-7 col-lg-4 col-xl-3">
            <label for="charNature" class="char-label" termindex term="Nature">Nature</label>
            <input class="form-control" id="charNature" ng-model="creatorCtrl.charNature"
                 ng-blur="creatorCtrl.setNature(creatorCtrl.charNature)"/>
          </div>
          <div class="mx-auto col-9 col-sm-8 col-md-7 col-lg-4 col-xl-3">
            <label for="clanSelect" class="char-label" termindex term="Clan">Clan</label>
            <select class="form-control" id="clanSelect" ng-model="clanCtrl.selectedClan"
                    ng-options="clan.name for clan in clanCtrl.filteredClanList"
                    ng-change="setUClan(clanCtrl.selectedClan)"
                    ng-blur="clanCtrl.setClan(clanCtrl.selectedClan)"/>
          </div>
        </div>
        <div class="row pb-2">
          <div class="mx-auto col-9 col-sm-8 col-md-7 col-lg-4 col-xl-3">
            <label for="charPlayer" class="char-label" termindex term="Player">Player</label>
            <input class="form-control" id="charPlayer" ng-model="creatorCtrl.charPlayer"
                   ng-blur="creatorCtrl.setPlayer(creatorCtrl.charPlayer)"/>
          </div>
          <div class="mx-auto col-9 col-sm-8 col-md-7 col-lg-4 col-xl-3">
            <label for="charDemeanor" class="char-label" termindex term="Demeanor">Demeanor</label>
            <input class="form-control" id="charDemeanor" ng-model="creatorCtrl.charDemeanor"
                   ng-blur="creatorCtrl.setDemeanor(creatorCtrl.charDemeanor)"/>
          </div>
          <div class="mx-auto col-9 col-sm-8 col-md-7 col-lg-4 col-xl-3">
            <label for="charGeneration" class="char-label" termindex term="Generation">Generation</label>
            <select class="form-control" id="charGeneration" ng-model="creatorCtrl.charGeneration"
                    ng-options="charGen for charGen in creatorCtrl.generations"
                    ng-blur="creatorCtrl.setGeneration(creatorCtrl.charGeneration)"/>
          </div>
        </div>
        <div class="row pb-2">
          <div class="mx-auto col-9 col-sm-8 col-md-7 col-lg-4 col-xl-3">
            <label for="charChronicle" class="char-label" termindex term="Chronicle">Chronicle</label>
            <input class="form-control" id="charChronicle" ng-model="creatorCtrl.charChronicle"
                   ng-blur="creatorCtrl.setChronicle(creatorCtrl.charChronicle)"/>
          </div>
          <div class="mx-auto col-9 col-sm-8 col-md-7 col-lg-4 col-xl-3">
            <label for="charConcept" class="char-label" termindex term="Concept">Concept</label>
            <input class="form-control" id="charConcept" ng-model="creatorCtrl.charConcept"
                   ng-blur="creatorCtrl.setConcept(creatorCtrl.charConcept)"/>
          </div>
          <div class="mx-auto col-9 col-sm-8 col-md-7 col-lg-4 col-xl-3">
            <label for="charSire" class="char-label" termindex term="Sire">Sire</label>
            <input class="charInput form-control" id="charSire" ng-model="creatorCtrl.charSire"
                   ng-blur="creatorCtrl.setSire(creatorCtrl.charSire)"/>
          </div>
        </div>
      </div>
    </div>
    <ng-include ng-show="clanCtrl.selectedClan.name!='N/A' || clanCtrl.selectedBloodline!=null" src="clanCtrl.clanPage"></ng-include>
  </div>

      <div ng-controller="AttributesController as attrCtrl">
        <ng-include src="attrCtrl.attributesPage"></ng-include>
      </div>

  <section class="panels row">
    <div class="container-fluid character-sheet">
      <div class="content-holder char-tabs">
        <div class="panel-group">
          <!-- <div class="panel panel-default" style="margin-top:20px;">
            <div ng-controller="AttributesController as attrCtrl">
                <ng-include src="attrCtrl.attributesPage"></ng-include>
            </div>
          </div> -->
          <div class="panel panel-default" style="margin-top:20px;">
            <div ng-controller="AbilitiesController as abCtrl">
              <ng-include src="abCtrl.abilitiesPage"></ng-include>
            </div>
          </div>
          <!-- !!!!!<div class="col-lg-3" ng-controller="TermIndexController as tindexCtrl">
            <ng-include src="tindexCtrl.termIndexPage"></ng-include>
          </div> !!!!!-->
          <!--!!!!! <div ng-controller="SaveController as saveCtrl">
            <button ng-hide="!creatorCtrl.loggedIn" ng-click="saveCtrl.saveCharacter()">Save Character</button>
          </div>!!!!! -->
          <!--!!!!! <div class="col-lg-3" ng-controller="LoadController as loadCtrl">
            <ng-include src="loadCtrl.loadPage"></ng-include>
          </div>!!!!! -->
          <!--!!!!! <div ng-controller="PdfController as pdfCtrl">
            <button ng-click="pdfCtrl.generatePDF()">Export PDF</button>
          </div> !!!!!-->
      <!--!!!!! <ng-include src="creatorCtrl.advantagesPage"></ng-include>!!!!! -->
          <div clas="panel panel-default" style="margin-top:20px;">
            <ng-include src="creatorCtrl.advantagesPage"></ng-include>
          </div>
            <!--!!!!! <div class="row">
              <div class="col-md-12">
                <p class="text-center" style="font-size: 18pt; font-weight: 500;">Advantages</p>
              </div>
              <div class="col-md-4 adv-select" ng-controller="DisciplinesController as discCtrl">
                <ng-include src="discCtrl.disciplinesPage"></ng-include>
              </div>
              <div class="col-md-4 adv-select" ng-controller="BackgroundsController as backCtrl">
                <ng-include src="backCtrl.backgroundsPage"></ng-include>
              </div>
              <div class="col-md-4 adv-select" ng-controller="VirtuesController as virtCtrl">
                <ng-include src="virtCtrl.virtuesPage"></ng-include>
              </div>
            </div>!!!!! -->
        </div>
      </div>
    </div>
  </section>
  <!-- !!!!!<div class="row">
    <div style="margin-bottom:10px;" class="col-lg-3" ng-controller="DisciplinesController as discCtrl">
       <div class="numdis">
        {{creatorCtrl.getFreebiePts()}}
      </div>
       <button ng-click="creatorCtrl.toggleFreebieMode()">Toggle Freebie Mode</button>
      <ng-include src="discCtrl.disciplinesPage"></ng-include>
    </div>
    <div style="margin-bottom:10px;" class="col-lg-3" ng-controller="BackgroundsController as backCtrl">
      <ng-include src="backCtrl.backgroundsPage"></ng-include>
    </div>
    <div style="margin-bottom:10px;" class="col-lg-3" ng-controller="VirtuesController as virtCtrl">
      <ng-include src="virtCtrl.virtuesPage"></ng-include>
    </div>
    <div style="margin-bottom:10px;" class="col-lg-3" ng-controller="PathController as pathCtrl">
      <ng-include src="pathCtrl.pathPage"></ng-include>
    </div>
    <div style="margin-bottom:10px;" class="col-lg-3" ng-controller="WillpowerController as willCtrl">
      <ng-include src="willCtrl.willPage"></ng-include>
    </div>
    <div style="margin-bottom:10px;" class="col-lg-3" ng-controller="MeritFlawController as meritFlawCtrl">
      <ng-include src="meritFlawCtrl.meritFlawPage"></ng-include>
    </div>
  </div>!!!!! -->

  <!--!!!!! <script type="text/javascript">
    $('#clanSelect').change(function(){
      var textLength = $('#clanSelect option:selected').text().length;
      if(textLength > 19)
        $(this).css('font-size', '85%');
      else
        $(this).css('font-size', '100%');
    });
  </script>!!!!! -->
</div>

<style>

  /* @media(min-width:825px){
    .flex-char-row{
      display: flex!important;
      justify-content: center!important;
    }
    .flex-p4{
      padding-top: 1rem!important;
      padding-bottom: 1rem!important;
      padding-left: 3rem!important;
      padding-right: 3rem!important;
    }
  }
  @media(max-width:824.98px){
    .flex-p4{
      padding-top: calc(.375rem + 1px);
      padding-bottom: calc(.375rem + 1px);
      margin-bottom: 0;
      font-size: inherit;
      line-height: 1.5;
      flex: 0 0 25%;
    }
    .flex-char-row{
      margin-left: auto;
      margin-right: auto;
    }
    .wrap-char-row{
      display: flex!important;
      flex-wrap: wrap;
    }
  } */

  .mob{
    color: #BB0000;
  }

  /* .charInput{
    width:200px;
  } */

  .inline-headers h3, .inline-headers h4 {
    display: inline-block;
    vertical-align: baseline;
  }
  .attr-head{
    font-size: 24px;
    text-align: center;
  }
  .numdis{
    color: #BB0000;
    font-size: 24px;
    font-weight: bold;
    display: inline;
    margin-left: 35px;
  }
  .col-md-4.adv-select{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }

  .char-label{
    font-size:22px;
  }

  /* input{
    min-width: 179px;
  } */
</style>
