<table style="width:100%">
  <tr>
    <th>
      <select ng-model="attrCtrl.selectedPriorities[0]"
       ng-options="category for category in attrCtrl.attributePriorities"
       ng-change="attrCtrl.categoryChange(attrCtrl.selectedPriorities[0], 0, attrCtrl.attributeCategories[0].priority)"></select>
      <h3>Physical</h3>
    </th>
    <th>
      <div class="num">{{attrCtrl.getPriorityPts(attrCtrl.selectedPriorities[0])}}</div>
    </th>
    <th style="padding:10px;">
      <select ng-model="attrCtrl.selectedPriorities[1]"
       ng-options="category for category in attrCtrl.attributePriorities"
       ng-change="attrCtrl.categoryChange(attrCtrl.selectedPriorities[1], 1, attrCtrl.attributeCategories[1].priority)"></select>
      <h3>Social</h3>
    </th>
    <th>
      <div class="num">{{attrCtrl.getPriorityPts(attrCtrl.selectedPriorities[1])}}</div>
    </th>
    <th>
      <select ng-model="attrCtrl.selectedPriorities[2]"
       ng-options="category for category in attrCtrl.attributePriorities"
       ng-change="attrCtrl.categoryChange(attrCtrl.selectedPriorities[2], 2, attrCtrl.attributeCategories[2].priority)"></select>
      <h3>Mental</h3>
    </th>
    <th>
      <div class="num">{{attrCtrl.getPriorityPts(attrCtrl.selectedPriorities[2])}}</div>
    </th>
  </tr>
  <tr>
    <td style="width:90px;">
      <h4>Strength</h4>
    </td>
    <td>
      <div ng-repeat="strPt in attrCtrl.strength.points" style="display: inline-block;">
        <img ng-src="{{strPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.strength, $index)"
         style="width:15px; height: 15px;" />
      </div>
    </td>
    <td style="width:110px;">
      <h4>Charisma</h4>
    </td>
    <td >
      <div ng-repeat="chaPt in attrCtrl.charisma.points" style="display: inline-block;">
        <img ng-src="{{chaPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.charisma, $index)"
         style="width:15px; height: 15px;" />
      </div>
    </td>
    <td style="width:110px;">
      <h4>Perception</h4>
    </td>
    <td >
      <div ng-repeat="perPt in attrCtrl.perception.points" style="display: inline-block;">
        <img ng-src="{{perPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.perception, $index)"
         style="width:15px; height: 15px;" />
      </div>
    </td>
  </tr>
  <tr>
    <td style="width:90px;">
      <h4>Dexterity</h4>
    </td>
    <td >
      <div ng-repeat="dexPt in attrCtrl.dexterity.points" style="display: inline-block;">
        <img ng-src="{{dexPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.dexterity, $index)"
         style="width:15px; height: 15px;" />
      </div>
    </td>
    <td style="width:110px;">
      <h4>Manipulation</h4>
    </td>
    <td >
      <div ng-repeat="manPt in attrCtrl.manipulation.points" style="display: inline-block;">
        <img ng-src="{{manPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.manipulation, $index)"
         style="width:15px; height: 15px;" />
      </div>
    </td>
    <td style="width:110px;">
      <h4>Intelligence</h4>
    </td>
    <td >
      <div ng-repeat="intPt in attrCtrl.intelligence.points" style="display: inline-block;">
        <img ng-src="{{intPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.intelligence, $index)"
         style="width:15px; height: 15px;" />
      </div>
    </td>
  </tr>
  <tr>
    <td style="width:90px;">
      <h4>Stamina</h4>
    </td>
    <td >
      <div ng-repeat="staPt in attrCtrl.stamina.points" style="display: inline-block;">
        <img ng-src="{{staPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.stamina, $index)"
         style="width:15px; height: 15px;" />
      </div>
    </td>
    <td style="width:110px;">
      <h4>Appearance</h4>
    </td>
    <td >
      <div ng-disabled="attrCtrl.isUglyClan()" ng-repeat="appPt in attrCtrl.appearance.points" style="display: inline-block;">
        <img ng-src="{{appPt.img}}" ng-click="attrCtrl.isUglyClan()||attrCtrl.selectAttribute(attrCtrl.appearance, $index)"
         style="width:15px; height: 15px;" />
      </div>
    </td>
    <td style="width:110px;">
      <h4>Wits</h4>
    </td>
    <td >
      <div ng-repeat="witPt in attrCtrl.wits.points" style="display: inline-block;">
        <img ng-src="{{witPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.wits, $index)" style="width:15px; height: 15px;" />
      </div>
    </td>
  </tr>
</table>

<style>
  .num {
    padding-left: 35px;
    padding-top: 30px;
    color: #BB0000;
    font-size: 36px;
  }
</style>
