<table>
  <tr>
    <th style="width:100px;">
      <select ng-model="attrCtrl.selectedPriorities[0]"
       ng-options="priority for priority in attrCtrl.attributePriorities"
       ng-change="attrCtrl.priorityChange(attrCtrl.selectedPriorities[0], 0, attrCtrl.attributeCategories[0].priority)">
      </select>
      <div class="attrHead">Physical</div>
    </th>
    <th style="width:245px;">
      <div class="num">{{attrCtrl.getPriorityPts(attrCtrl.selectedPriorities[0])}}</div>
    </th>
    <th style="padding-top:10px; padding-bottom:10px; width:100px;">
      <select ng-model="attrCtrl.selectedPriorities[1]"
       ng-options="priority for priority in attrCtrl.attributePriorities"
       ng-change="attrCtrl.priorityChange(attrCtrl.selectedPriorities[1], 1, attrCtrl.attributeCategories[1].priority)">
      </select>
      <div class="attrHead">Social</div>
    </th>
    <th style="width:245px;">
      <div class="num">{{attrCtrl.getPriorityPts(attrCtrl.selectedPriorities[1])}}</div>
    </th>
    <th style="width:100px;">
      <select ng-model="attrCtrl.selectedPriorities[2]"
       ng-options="priority for priority in attrCtrl.attributePriorities"
       ng-change="attrCtrl.priorityChange(attrCtrl.selectedPriorities[2], 2, attrCtrl.attributeCategories[2].priority)">
      </select>
      <div class="attrHead">Mental</div>
    </th>
    <th style="width:245px;">
      <div class="num">{{attrCtrl.getPriorityPts(attrCtrl.selectedPriorities[2])}}</div>
    </th>
  </tr>
</table>

<!-- <attr-row attributes="attrCtrl.attributeCategories[0].attributes"></attr-row> -->
<table>
  <tr>
    <td style="width:100px;">
      <div termindex term="{{attrCtrl.strength.name}}" class="attrLabel">
        {{attrCtrl.strength.name}}
      </div>
    </td>
    <td class="points-cell" style="width:245px;">
      <div ng-repeat="attrPt in attrCtrl.strength.points" style="display: inline-block;">
        <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.strength, $index)"/>
      </div>
    </td>
  <td style="width:100px;">
    <div termindex term="{{attrCtrl.charisma.name}}" class="attrLabel">
      {{attrCtrl.charisma.name}}
    </div>
  </td>
  <td class="points-cell" style="width:245px;">
    <div ng-repeat="attrPt in attrCtrl.charisma.points" style="display: inline-block;">
      <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.charisma, $index)"/>
    </div>
  </td>
  <td style="width:100px;">
    <div termindex term="{{attrCtrl.perception.name}}" class="attrLabel">
      {{attrCtrl.perception.name}}
    </div>
  </td>
  <td class="points-cell" style="width:245px;">
    <div ng-repeat="attrPt in attrCtrl.perception.points" style="display: inline-block;">
      <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.perception, $index)"/>
    </div>
  </td>
</tr>
<tr>
  <td style="width:100px;">
    <div termindex term="{{attrCtrl.dexterity.name}}" class="attrLabel">
      {{attrCtrl.dexterity.name}}
    </div>
  </td>
  <td class="points-cell" style="width:245px;">
    <div ng-repeat="attrPt in attrCtrl.dexterity.points" style="display: inline-block;">
      <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.dexterity, $index)"/>
    </div>
  </td>
<td style="width:100px;">
  <div termindex term="{{attrCtrl.manipulation.name}}" class="attrLabel">
    {{attrCtrl.manipulation.name}}
  </div>
</td>
<td class="points-cell" style="width:245px;">
  <div ng-repeat="attrPt in attrCtrl.manipulation.points" style="display: inline-block;">
    <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.manipulation, $index)"/>
  </div>
</td>
<td style="width:100px;">
  <div termindex term="{{attrCtrl.intelligence.name}}" class="attrLabel">
    {{attrCtrl.intelligence.name}}
  </div>
</td>
<td class="points-cell" style="width:245px;">
  <div ng-repeat="attrPt in attrCtrl.intelligence.points" style="display: inline-block;">
    <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.intelligence, $index)"/>
  </div>
</td>
</tr>
<tr>
  <td style="width:100px;">
    <div termindex term="{{attrCtrl.stamina.name}}" class="attrLabel">
      {{attrCtrl.stamina.name}}
    </div>
  </td>
  <td class="points-cell" style="width:245px;">
    <div ng-repeat="attrPt in attrCtrl.stamina.points" style="display: inline-block;">
      <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.stamina, $index)"/>
    </div>
  </td>
<td style="width:100px;">
  <div termindex term="{{attrCtrl.appearance.name}}" class="attrLabel">
    {{attrCtrl.appearance.name}}
  </div>
</td>
  <td class="points-cell" style="width:245px;">
    <div ng-disabled="attrCtrl.isUglyClan()" ng-repeat="attrPt in attrCtrl.appearance.points" style="display: inline-block;">
      <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.appearance, $index)"/>
    </div>
  </td>
<td style="width:100px;">
  <div termindex term="{{attrCtrl.wits.name}}" class="attrLabel">
    {{attrCtrl.wits.name}}
  </div>
</td>
<td class="points-cell" style="width:245px;">
  <div ng-repeat="attrPt in attrCtrl.wits.points" style="display: inline-block;">
    <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.wits, $index)"/>
  </div>
</td>
</tr>
</table>


<!-- <table ng-table="attrCtrl.tableParams1" show-filter="false">
  <tr ng-repeat="attribute in $data">
    <td style="width:100px;">
      <div termindex term="{{attribute.col1.name}}" class="attrLabel">
        {{attribute.col1.name}}
      </div>
    </td>
    <td class="points-cell" style="width:245px;">
      <div ng-repeat="attrPt in attribute.col1.points" style="display: inline-block;">
        <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.selectAttribute(attribute.col1, $index)"/>
      </div>
    </td>
    <td style="width:100px;">
      <div termindex term="{{attribute.col2.name}}" class="attrLabel">
        {{attribute.col2.name}}
      </div>
    </td>
    <td class="points-cell" style="width:245px;">
      <div ng-repeat="attrPt in attribute.col2.points" style="display: inline-block;">
        <div ng-if="(clanCtrl.isUglyClan() && attribute.col2.name == 'Appearance')">
          <img class="attrimg" ng-src="{{attrPt.img}}"/>
        </div>
        <div ng-if="(clanCtrl.isUglyClan())">
          <span style="color:red">* The chosen clan can not have an appearance higher than 0.</span>
        </div>
        <div ng-if="!clanCtrl.isUglyClan() || (clanCtrl.isUglyClan() && attribute.col2.name != 'Appearance')">
          <img class="attrimg" ng-src="{{attrPt.img}}"
           ng-click="attrCtrl.selectAttribute(attribute.col2, $index)  "/>
        </div>
      </div>
    </td>
    <td style="width:100px;">
      <div termindex term="{{attribute.col3.name}}" class="attrLabel">
        {{attribute.col3.name}}
      </div>
    </td>
    <td class="points-cell" style="width:245px;">
      <div ng-repeat="attrPt in attribute.col3.points" style="display: inline-block;">
        <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.selectAttribute(attribute.col3, $index)"/>
      </div>
    </td>
  </tr>
</table> -->

<style>
  .num {
    padding-top: 30px;
    color: #BB0000;
    font-size: 24px;
  }
  .attrHead{
    font-size: 18.5px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .attrLabel{
    font-size: 16px;
    font-weight: 500;
    width: 87px;
  }
  .attrimg{
    width:15px;
    height: 15px;
    vertical-align: top;
    margin-top: 2px;
  }
</style>
