<h3>Character Creator</h3>
<div class="container">
  <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="row">
        <form>
          <label for="charPlayer">Player: </label>
          <input id="charPlayer" ng-model="creatorCtrl.charPlayer" />
          <label for="charChronicle">Chronicle: </label>
          <input id="charChronicle" ng-model="creatorCtrl.charChronicle" />
          <label for="charName">Name: </label>
          <input id="charName" ng-model="creatorCtrl.charName" />
          <label for="charConcept">Concept: </label>
          <input id="charConcept" ng-model="creatorCtrl.charConcept" />
      </div>
      <div class="row">
        <label for="charNature">Nature: </label>
        <input id="charNature" ng-model="creatorCtrl.charNature" />
        <label for="charDemeanor">Demeanor: </label>
        <input id="charDemeanor" ng-model="creatorCtrl.charDemeanor" />
        <label for="charSire">Sire: </label>
        <input id="charSire" ng-model="creatorCtrl.charSire" />
        <label for="charGeneration">Generation: </label>
        <select id="charGeneration" ng-model="creatorCtrl.charGeneration" ng-options="charGen for charGen in creatorCtrl.generations"></select>
      </div>
      <br />
      <div ng-controller="ClanController as clanCtrl">
        <div class="row">
          <label for="clanFilter">Clan Filter: </label>
          <select id="clanFilter" ng-model="clanCtrl.selectedClanFilter" ng-options="filter for filter in clanCtrl.clanFilters"
                  ng-change="clanCtrl.filterClans(clanCtrl.selectedClanFilter)">
          </select>
        </div>
        <div class="row">
          <label for="clanSelect">Clan/Bloodline: </label>
          <select id="clanSelect" ng-model="clanCtrl.selectedClan" ng-options="clan.name for clan in clanCtrl.filteredClanList">
          </select>
        </div>
      </form>
      <ng-include ng-show="clanCtrl.selectedClan.name!='N/A' || clanCtrl.selectedBloodline!=null" src="clanCtrl.clanPage"></ng-include>
      </div>
      <h2 style="text-align:center">Attributes</h2>
    </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="row">
          <div class="inline-headers">
          <h3>Physical</h3>
        </div>
        </div>
        <div class="row">
          <label>Strength</label>
          <div ng-repeat="strPt in creatorCtrl.strength.points" style="display: inline;">
            <img ng-src="{{strPt.img}}" ng-click="creatorCtrl.strength.select($index)" style="width:15px; height: 15px;" />
          </div>
          <br/>
          <label>Dexterity</label>
          <div ng-repeat="dexPt in creatorCtrl.dexterity.points" style="display: inline;">
            <img ng-src="{{dexPt.img}}" ng-click="creatorCtrl.dexterity.select($index)" style="width:15px; height: 15px;" />
          </div>
          <br />
          <label>Stamina</label>
          <div ng-repeat="staPt in creatorCtrl.stamina.points" style="display: inline;">
            <img ng-src="{{staPt.img}}" ng-click="creatorCtrl.stamina.select($index)" style="width:15px; height: 15px;" />
          </div>
          <br />
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="row">
          <div class="inline-headers">
          <h3>Social</h3>
        </div>
        </div>
        <div class="row">
          <label>Charisma</label>
          <div ng-repeat="chaPt in creatorCtrl.charisma.points" style="display: inline;">
            <img ng-src="{{chaPt.img}}" ng-click="creatorCtrl.charisma.select($index)" style="width:15px; height: 15px;" />
          </div>
          <br/>
          <label>Manipulation</label>
          <div ng-repeat="manPt in creatorCtrl.manipulation.points" style="display: inline;">
            <img ng-src="{{manPt.img}}" ng-click="creatorCtrl.manipulation.select($index)" style="width:15px; height: 15px;" />
          </div>
          <br />
          <label>Appearance</label>
          <div ng-repeat="appPt in creatorCtrl.appearance.points" style="display: inline;">
            <img ng-src="{{appPt.img}}" ng-click="creatorCtrl.appearance.select($index)" style="width:15px; height: 15px;" />
          </div>
          <br />
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="row">
          <div class="inline-headers">
          <h3>Mental</h3>
        </div>
        </div>
        <div class="row">
          <label>Perception</label>
          <div ng-repeat="perPt in creatorCtrl.perception.points" style="display: inline-block;">
            <img ng-src="{{perPt.img}}" ng-click="creatorCtrl.perception.select($index)" style="width:15px; height: 15px;" />
          </div>
          <br/>
          <label>Intelligence</label>
          <div ng-repeat="intPt in creatorCtrl.intelligence.points" style="display: inline-block;">
            <img ng-src="{{intPt.img}}" ng-click="creatorCtrl.intelligence.select($index)" style="width:15px; height: 15px;" />
          </div>
          <br />
          <label>Wits</label>
          <div ng-repeat="witPt in creatorCtrl.wits.points" style="display: inline-block;">
            <img ng-src="{{witPt.img}}" ng-click="creatorCtrl.wits.select($index)" style="width:15px; height: 15px;" />
          </div>
          <br />
        </div>
      </div>
    </div>
</div>

<style>
 .inline-headers h3, .inline-headers h4 {
    display: inline-block;
    vertical-align: baseline;
  }
</style>
