<h3>Character Creator</h3>
<div class="container">
  <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <label for="charPlayer">Player: </label>
          <input id="charPlayer" ng-model="creatorCtrl.charPlayer" />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <label for="charChronicle">Chronicle: </label>
          <input id="charChronicle" ng-model="creatorCtrl.charChronicle" />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <label for="charName">Name: </label>
          <input id="charName" ng-model="creatorCtrl.charName" />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <label for="charConcept">Concept: </label>
          <input id="charConcept" ng-model="creatorCtrl.charConcept" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <label for="charNature">Nature: </label>
          <input id="charNature" ng-model="creatorCtrl.charNature" />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <label for="charDemeanor">Demeanor: </label>
          <input id="charDemeanor" ng-model="creatorCtrl.charDemeanor" />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <label for="charSire">Sire: </label>
          <input id="charSire" ng-model="creatorCtrl.charSire" />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <label for="charGeneration">Generation: </label>
          <select id="charGeneration" ng-model="creatorCtrl.charGeneration" ng-options="charGen for charGen in creatorCtrl.generations"></select>
        </div>
      </div>
      <br />
      <div ng-controller="ClanController as clanCtrl">
        <div class="row">
          <label for="clanFilter">Clan Filter: </label>
          <select id="clanFilter" ng-model="clanCtrl.selectedClanFilter" ng-options="filter for filter in clanCtrl.clanFilters"
                  ng-change="clanCtrl.filterClans(clanCtrl.selectedClanFilter)">
          </select>
        </div>
        <div class="row">
          <label for="clanSelect">Clan/Bloodline: </label>
          <select id="clanSelect" ng-model="clanCtrl.selectedClan" ng-options="clan.name for clan in clanCtrl.filteredClanList">
          </select>
          <ng-include ng-show="clanCtrl.selectedClan.name!='N/A' || clanCtrl.selectedBloodline!=null" src="clanCtrl.clanPage"></ng-include>
        </div>
      </div>
      <h2 style="text-align:center">Attributes</h2>
    </div>
    <div ng-controller="AttributesController as attrCtrl">
    <ng-include src="attrCtrl.attributesPage"></ng-include>
    </div>
</div>

<style>
 .inline-headers h3, .inline-headers h4 {
    display: inline-block;
    vertical-align: baseline;
  }
</style>
