<div class="container">
  <hr style="width:427.5px; display:block">
  <p class="text-center" style="font-size: 18pt; font-weight: 500;">Abilities</p>
  <hr style="width:427.5px; display:block">
  <div class="row pt-4 pb-2">
    <div class="col-lg-2 offset-lg-1">
      <select class="form-control" ng-model="abCtrl.selectedPriorities[0]" style="max-width:160px;"
              ng-options="priority for priority in abCtrl.abilityPriorities"
              ng-change ="abCtrl.priorityChange(abCtrl.selectedPriorities[0], 0, abCtrl.abilityCategories[0].priority)">
      </select>
      <div class="abHead">
        Talents
      </div>
      <div ng-repeat="ability in abCtrl.abilityCategories[0].abilities">
        <div ability-direct ability="{{ability}}"></div>
      </div>
    </div>
    <div class="col-lg-1 text-center">
      <span class="num">{{abCtrl.getPriorityPts(abCtrl.selectedPriorities[0])}}</span>
    </div>
    <div class="col-lg-2 offset-lg-1">
      <select class="form-control" ng-model="abCtrl.selectedPriorities[1]" style="max-width:160px;"
              ng-options="priority for priority in abCtrl.abilityPriorities"
              ng-change ="abCtrl.priorityChange(abCtrl.selectedPriorities[1], 1, abCtrl.abilityCategories[1].priority)">
      </select>
      <div class="abHead">
        Skills
      </div>
      <div ng-repeat="ability in abCtrl.abilityCategories[1].abilities">
        <div ability-direct ability="{{ability}}"></div>
      </div>
    </div>
    <div class="col-lg-1 text-center">
      <span class="num">{{abCtrl.getPriorityPts(abCtrl.selectedPriorities[1])}}</span>
    </div>
    <div class="col-lg-2 offset-lg-1">
      <select class="form-control" ng-model="abCtrl.selectedPriorities[2]" style="max-width:160px;"
              ng-options="priority for priority in abCtrl.abilityPriorities"
              ng-change ="abCtrl.priorityChange(abCtrl.selectedPriorities[2], 2, abCtrl.abilityCategories[2].priority)">
      </select>
      <div class="abHead">
        Knowledges
      </div>
      <div ng-repeat="ability in abCtrl.abilityCategories[2].abilities">
        <div ability-direct ability="{{ability}}"></div>
      </div>
    </div>
    <div class="col-lg-1 text-center">
      <span class="num">{{abCtrl.getPriorityPts(abCtrl.selectedPriorities[2])}}</span>
    </div>
  </div>

<!-- <div class="row">
  <div class="col-md-12" style="margin-bottom:15px">
    <hr style="width:427.5px; display:block">
    <p class="text-center" style="font-size: 18pt; font-weight: 500;">Abilities</p>
    <hr style="width:427.5px; display:block">
  </div>
  <div class="col-md-4 abil-column">
    <div class="abil-select">
      <select class="form-control" style="margin-right: 10px; max-width:150px;" ng-model="abCtrl.selectedPriorities[0]"
        ng-options="priority for priority in abCtrl.abilityPriorities"
        ng-change="abCtrl.priorityChange(abCtrl.selectedPriorities[0], 0, abCtrl.abilityCategories[0].priority)">
      </select>
      <span class="num">{{abCtrl.getPriorityPts(abCtrl.selectedPriorities[0])}}</span>
    </div>
    <div class="abHead">
      Talents
    </div>
    <div ng-repeat="ability in abCtrl.abilityCategories[0].abilities">
      <div ability-direct ability="{{ability}}"></div>
    </div>
  </div>
  <div class="col-md-4 abil-column">
    <div class="abil-select">
      <select class="form-control" style="margin-right: 10px; max-width:150px;" ng-model="abCtrl.selectedPriorities[1]"
        ng-options="priority for priority in abCtrl.abilityPriorities"
        ng-change="abCtrl.priorityChange(abCtrl.selectedPriorities[1], 1, abCtrl.abilityCategories[1].priority)">
      </select>
      <span class="num">{{abCtrl.getPriorityPts(abCtrl.selectedPriorities[1])}}</span>
    </div>
    <div class="abHead">
      Skills
    </div>
    <div ng-repeat="ability in abCtrl.abilityCategories[1].abilities">
      <div ability-direct ability="{{ability}}"></div>
    </div>
  </div>
  <div class="col-md-4 abil-column">
    <div class="abil-select">
      <select class="form-control" style="margin-right: 10px; max-width:150px;" ng-model="abCtrl.selectedPriorities[2]"
        ng-options="priority for priority in abCtrl.abilityPriorities"
        ng-change="abCtrl.priorityChange(abCtrl.selectedPriorities[2], 2, abCtrl.abilityCategories[2].priority)">
      </select>
      <span class="num">{{abCtrl.getPriorityPts(abCtrl.selectedPriorities[2])}}</span>
    </div>
    <div class="abHead">
      Knowledges
    </div>
    <div ng-repeat="ability in abCtrl.abilityCategories[2].abilities">
      <div ability-direct ability="{{ability}}"></div>
    </div>
  </div>
</div> -->

<style>
hr {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border-color: #000000;
  background-color: #000000;
}
@media (max-width:767.98px){
  .abil-column{
    margin-bottom:10px;
  }
}
.panel-group{
  margin-bottom: 20px;
}
.panel-default .panel-heading {
    padding: 15px 0;
}
  .num {
    color: #BB0000;
    font-size: 24px;
    font-weight: bold;
    display: block;
  }
  table.center {
    margin-left:auto;
    margin-right:auto;
  }
  .abHead{
    font-size: 18.5px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  .abLabel{
    font-size: 16px;
    font-weight: 500;
    min-width: 97px;
    margin-right: 10px;
  }
  .abimg{
    width:15px;
    height: 15px;
    vertical-align: middle;
    margin-top: -3px;
  }
  .abil-select{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    margin-top: 20px;
    max-height: 20px;
  }
  /* .col-md-4.abil-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  } */

  .abil-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
  }
  .panel-group .panel {
      margin-top: 35px;
      margin-bottom: 0;
      border-radius: 4px;
  }
  .modal, .panel-group .panel{
    overflow: visible;
  }
</style>
