<table>
  <tr>
    <th></th>
    <th></th>
      <th style="text-align: center; font-size: 18pt; font-weight: 500;">Abilities</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <th style="width:100px;">
      <select ng-model="abCtrl.selectedPriorities[0]"
      ng-options="priority for priority in abCtrl.abilityPriorities"
      ng-change="abCtrl.priorityChange(abCtrl.selectedPriorities[0], 0, abCtrl.abilityCategories[0].priority)"
      ng-if="!abCtrl.freeMode">
    </select>
    <div class="abHead">Talents</div>
    </th>
    <th style="width:245px;">
      <div class="num">{{abCtrl.getPriorityPts(abCtrl.selectedPriorities[0])}}</div>
    </th>
    <th style="padding-top:10px; padding-bottom:10px; width:100px;">
      <select ng-model="abCtrl.selectedPriorities[1]"
      ng-options="priority for priority in abCtrl.abilityPriorities"
      ng-change="abCtrl.priorityChange(abCtrl.selectedPriorities[1], 1, abCtrl.abilityCategories[1].priority)"
      ng-if="!abCtrl.freeMode">
      </select>
    <div class="abHead">Skills</div>
    </th>
    <th style="width:245px;">
      <div class="num">{{abCtrl.getPriorityPts(abCtrl.selectedPriorities[1])}}</div>
    </th>
    <th style="width:110px;">
      <select ng-model="abCtrl.selectedPriorities[2]"
      ng-options="priority for priority in abCtrl.abilityPriorities"
      ng-change="abCtrl.priorityChange(abCtrl.selectedPriorities[2], 2, abCtrl.abilityCategories[2].priority)"
      ng-if="!abCtrl.freeMode">
      </select>
      <div class="abHead">Knowledges</div>
    </th>
    <th style="width:245px;">
      <div class="num">{{abCtrl.getPriorityPts(abCtrl.selectedPriorities[2])}}</div>
    </th>
  </tr>
</table>
<table ng-table="abCtrl.tableParams1" show-filter="false" >
  <tr ng-repeat="ability in $data">
    <td style="width:100px;">
      <div ng-if="ability.col1.id != null">
        <input class="custom-ability" ng-model="abCtrl.customtalent.name"
               ng-blur="abCtrl.setCustomAbility(ability.col1, abCtrl.customtalent.name)">
      </div>
      <div ng-if="ability.col1.id == null">
        <div termindex term="{{ability.col1.name}}" class="abLabel">
          {{ability.col1.name}}
        </div>
      </div>
    </td>
    <td class="points-cell" style="width:245px;">
      <div ng-repeat="abPt in ability.col1.points" style="display: inline-block;">
        <img class="abimg" ng-src="{{abPt.img}}" ng-click="abCtrl.selectAbility(ability.col1, $index)" ng-if="!abCtrl.freeMode"/>
        <img class="abimg" ng-src="{{abPt.img}}" ng-click="abCtrl.freeAbility(ability.col1, $index)" ng-if="abCtrl.freeMode"/>
      </div>
    </td>
    <td style="width:100px;">
      <div ng-if="ability.col2.id != null">
        <input class="custom-ability" ng-model="abCtrl.customskill.name"
               ng-blur="abCtrl.setCustomAbility(ability.col2, abCtrl.customskill.name)">
      </div>
      <div ng-if="ability.col2.id == null">
        <div termindex term="{{ability.col2.name}}" class="abLabel">
          {{ability.col2.name}}
        </div>
      </div>
    </td>
    <td class="points-cell" style="width:245px;">
      <div ng-repeat="abPt in ability.col2.points" style="display: inline-block;">
        <img class="abimg" ng-src="{{abPt.img}}" ng-click="abCtrl.selectAbility(ability.col2, $index)" ng-if="!abCtrl.freeMode"/>
        <img class="abimg" ng-src="{{abPt.img}}" ng-click="abCtrl.freeAbility(ability.col2, $index)" ng-if="abCtrl.freeMode"/>
      </div>
    </td>
    <td style="width:100px;">
      <div ng-if="ability.col3.id != null">
        <input class="custom-ability" ng-model="abCtrl.customknowledge.name"
               ng-blur="abCtrl.setCustomAbility(ability.col3, abCtrl.customknowledge.name)">
      </div>
      <div ng-if="ability.col2.id == null">
        <div termindex term="{{ability.col3.name}}" class="abLabel">
          {{ability.col3.name}}
        </div>
      </div>
    </td>
    <td class="points-cell" style="width:245px;">
      <div ng-repeat="abPt in ability.col3.points" style="display: inline-block;">
        <img class="abimg" ng-src="{{abPt.img}}" ng-click="abCtrl.selectAbility(ability.col3, $index)" ng-if="!abCtrl.freeMode"/>
        <img class="abimg" ng-src="{{abPt.img}}" ng-click="abCtrl.freeAbility(ability.col3, $index)" ng-if="abCtrl.freeMode"/>
      </div>
    </td>
  </tr>
</table>

<style>

  .custom-ability{
    max-width: 91.6px;
  }
  .num {
    padding-top: 30px;
    color: #BB0000;
    font-size: 24px;
  }
  .abHead{
    font-size: 18.5px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .abLabel{
    font-size: 16px;
    font-weight: 500;
    width: 87px;
  }

  .abimg{
    width:15px;
    height: 15px;
    vertical-align: top;
    margin-top: 2px;
  }
</style>
