<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>
        Glossary
      </h3>
      <div class="col-md-2">
        <button class="btn btn-primary" ng-click="glossCtrl.filterByCategory('backgrounds')">Backgrounds</button>
        <button class="btn btn-primary" ng-click="glossCtrl.filterByCategory('flaws')">Flaws</button>
        <button class="btn btn-primary" ng-click="glossCtrl.filterByCategory('merits')">Merits</button>
        <button class="btn btn-primary" ng-click="glossCtrl.filterByCategory('paths')">Paths</button>
      </div>
    </div>
  </div>
</div>