<div>
  <h4 style="display: inline;">Disciplines</h4>
  <div class="numdis">
    {{discCtrl.getDisciplinePts()}}
  </div>
  <table>
    <tr>
      <td>
        <div ng-repeat="discipline in discCtrl.selectedClanDisciplines">
          <select ng-disabled="!discCtrl.getFreebieMode()" ng-model="discipline.name"
                  ng-options="discipline for discipline in discCtrl.disciplineList">
          </select>
          <div ng-repeat="discPt in discipline.points" style="display: inline-block;">
            <img class="discimg" ng-src="{{discPt.img}}" ng-click="discCtrl.selectDisciplinePt(discipline, $index)" />
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>

<style>
  .discimg{
    width: 15px;
    height: 15px;
    vertical-align: top;
    margin-top: 2px;
  }
  .numdis{
    color: #BB0000;
    font-size: 24px;
    font-weight: bold;
    display: inline;
    margin-left: 35px;
  }
</style>
