<div>
  <h4 style="display: inline;">Virtues</h4>
  <div class="numdis" ng-if="!virtCtrl.freeMode">
    {{virtCtrl.getVirtuePts()}}
  </div>
  <table>
      <tr>
        <td>
          <div termindex term="{{virtCtrl.virtueList['Conscience'].displayName}}">
          {{virtCtrl.virtueList['Conscience'].displayName}}&nbsp;
          </div>
        </td>
        <td>
          <div ng-repeat="virtPt in virtCtrl.virtueList['Conscience'].points" style="display: inline-block;">
            <img class="virtimg" ng-src="{{virtPt.img}}" ng-click="virtCtrl.selectVirtuePt(virtCtrl.virtueList['Conscience'], $index)" ng-if="!virtCtrl.freeMode"/>
            <img class="virtimg" ng-src="{{virtPt.img}}" ng-click="virtCtrl.freeVirtuePt(virtCtrl.virtueList['Conscience'], $index)" ng-if="virtCtrl.freeMode"/>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div termindex term="{{virtCtrl.virtueList['Self-control'].displayName}}">
          {{virtCtrl.virtueList['Self-control'].displayName}}&nbsp;
          </div>
        </td>
        <td>
          <div ng-repeat="virtPt in virtCtrl.virtueList['Self-control'].points" style="display: inline-block;">
            <img class="virtimg" ng-src="{{virtPt.img}}" ng-click="virtCtrl.selectVirtuePt(virtCtrl.virtueList['Self-control'], $index)" ng-if="!virtCtrl.freeMode"/>
            <img class="virtimg" ng-src="{{virtPt.img}}" ng-click="virtCtrl.freeVirtuePt(virtCtrl.virtueList['Self-control'], $index)" ng-if="virtCtrl.freeMode"/>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div termindex term="{{virtCtrl.virtueList['Courage'].displayName}}">
          {{virtCtrl.virtueList['Courage'].displayName}}&nbsp;
          </div>
        </td>
        <td>
          <div ng-repeat="virtPt in virtCtrl.virtueList['Courage'].points" style="display: inline-block;">
            <img class="virtimg" ng-src="{{virtPt.img}}" ng-click="virtCtrl.selectVirtuePt(virtCtrl.virtueList['Courage'], $index)" ng-if="!virtCtrl.freeMode"/>
            <img class="virtimg" ng-src="{{virtPt.img}}" ng-click="virtCtrl.freeVirtuePt(virtCtrl.virtueList['Courage'], $index)" ng-if="virtCtrl.freeMode"/>
          </div>
        </td>
      </tr>
  </table>
</div>

<style>
  .virtimg{
    width: 15px;
    height: 15px;
    vertical-align: top;
    margin-top: 2px;
  }
  .numdis{
    color: #BB0000;
    font-size: 24px;
    font-weight: bold;
    display: inline;
    margin-left: 35px;
  }

  .virtLabel{
    font-size: 16px;
    font-weight: 500;
    width: 87px;
  }
</style>
