<div class="container">
  <hr style="width:427.5px; display:block">
  <p class="text-center" style="font-size: 18pt; font-weight: 500;">Attributes</p>
  <hr style="width:427.5px; display:block">
  <div class="row pt-4 pb-2">
    <div class="mx-auto col-9 col-sm-8 col-md-7 col-lg-4 col-xl-2">
        <select class="form-control" ng-model="attrCtrl.selectedPriorities[0]" style="width:130px; display:inline;"
                ng-options="priority for priority in attrCtrl.attributePriorities"
                ng-change="attrCtrl.priorityChange(attrCtrl.selectedPriorities[0], 0, attrCtrl.attributeCategories[0].priority)">
        </select>
        <span class="num float-right">{{attrCtrl.getPriorityPts(attrCtrl.selectedPriorities[0])}}</span>
    </div>
    <div class="mx-auto col-9 col-sm-8 col-md-7 col-lg-4 col-xl-2">
        <select class="form-control" ng-model="attrCtrl.selectedPriorities[1]" style="width:130px; display:inline;"
                ng-options="priority for priority in attrCtrl.attributePriorities"
                ng-change="attrCtrl.priorityChange(attrCtrl.selectedPriorities[1], 1, attrCtrl.attributeCategories[1].priority)">
        </select>
        <span class="num float-right">{{attrCtrl.getPriorityPts(attrCtrl.selectedPriorities[1])}}</span>
    </div>
    <div class="mx-auto col-9 col-sm-8 col-md-7 col-lg-4 col-xl-2">
        <select class="form-control" ng-model="attrCtrl.selectedPriorities[2]" style="width:130px; display:inline;"
                ng-options="priority for priority in attrCtrl.attributePriorities"
                ng-change="attrCtrl.priorityChange(attrCtrl.selectedPriorities[2], 2, attrCtrl.attributeCategories[2].priority)">
        </select>
        <span class="num float-right">{{attrCtrl.getPriorityPts(attrCtrl.selectedPriorities[2])}}</span>
    </div>
  </div>
</div>

<style>
  .attr-select {
    display: flex;
    text-align: justify;
    text-align-last: justify;
    width: 300px;
  }

  .num {
    color: #BB0000;
    font-size: 24px;
    font-weight: bold;
  }
</style>
