<table>
  <tr>
    <th></th>
    <th></th>
      <th style="text-align: center; font-size: 18pt; font-weight: 500;">Attributes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <th style="width:100px;">
      <select ng-model="attrCtrl.selectedPriorities[0]"
       ng-options="priority for priority in attrCtrl.attributePriorities"
       ng-change="attrCtrl.priorityChange(attrCtrl.selectedPriorities[0], 0, attrCtrl.attributeCategories[0].priority)"
       ng-if="!attrCtrl.freeMode">
      </select>
      <div class="attrHead">Physical</div>
    </th>
    <th style="width:245px;">
      <div class="num">{{attrCtrl.getPriorityPts(attrCtrl.selectedPriorities[0])}}</div>
    </th>
    <th style="padding-top:10px; padding-bottom:10px; width:100px;">
      <select ng-model="attrCtrl.selectedPriorities[1]"
       ng-options="priority for priority in attrCtrl.attributePriorities"
       ng-change="attrCtrl.priorityChange(attrCtrl.selectedPriorities[1], 1, attrCtrl.attributeCategories[1].priority)"
       ng-if="!attrCtrl.freeMode">
      </select>
      <div class="attrHead">Social</div>
    </th>
    <th style="width:245px;">
      <div class="num">{{attrCtrl.getPriorityPts(attrCtrl.selectedPriorities[1])}}</div>
    </th>
    <th style="width:100px;">
      <select ng-model="attrCtrl.selectedPriorities[2]"
       ng-options="priority for priority in attrCtrl.attributePriorities"
       ng-change="attrCtrl.priorityChange(attrCtrl.selectedPriorities[2], 2, attrCtrl.attributeCategories[2].priority)"
       ng-if="!attrCtrl.freeMode">
      </select>
      <div class="attrHead">Mental</div>
    </th>
    <th style="width:245px;">
      <div class="num">{{attrCtrl.getPriorityPts(attrCtrl.selectedPriorities[2])}}</div>
    </th>
  </tr>
</table>

<table>
  <tr>
    <td style="width:100px;">
      <div termindex term="{{attrCtrl.strength.name}}" class="attrLabel">
        {{attrCtrl.strength.name}}
      </div>
    </td>
    <td class="points-cell" style="width:245px;">
      <div ng-repeat="attrPt in attrCtrl.strength.points" style="display: inline-block;">
        <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.strength, $index, 0)" ng-if="!attrCtrl.freeMode"/>
        <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.freeAttribute(attrCtrl.strength, $index, 0)" ng-if="attrCtrl.freeMode"/>
      </div>
    </td>
  <td style="width:100px;">
    <div termindex term="{{attrCtrl.charisma.name}}" class="attrLabel">
      {{attrCtrl.charisma.name}}
    </div>
  </td>
  <td class="points-cell" style="width:245px;">
    <div ng-repeat="attrPt in attrCtrl.charisma.points" style="display: inline-block;">
      <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.charisma, $index, 1)" ng-if="!attrCtrl.freeMode"/>
      <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.freeAttribute(attrCtrl.charisma, $index, 1)" ng-if="attrCtrl.freeMode"/>
    </div>
  </td>
  <td style="width:100px;">
    <div termindex term="{{attrCtrl.perception.name}}" class="attrLabel">
      {{attrCtrl.perception.name}}
    </div>
  </td>
  <td class="points-cell" style="width:245px;">
    <div ng-repeat="attrPt in attrCtrl.perception.points" style="display: inline-block;">
      <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.perception, $index, 2)" ng-if="!attrCtrl.freeMode"/>
      <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.freeAttribute(attrCtrl.perception, $index, 2)" ng-if="attrCtrl.freeMode"/>
    </div>
  </td>
</tr>
<tr>
  <td style="width:100px;">
    <div termindex term="{{attrCtrl.dexterity.name}}" class="attrLabel">
      {{attrCtrl.dexterity.name}}
    </div>
  </td>
  <td class="points-cell" style="width:245px;">
    <div ng-repeat="attrPt in attrCtrl.dexterity.points" style="display: inline-block;">
      <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.dexterity, $index, 0)" ng-if="!attrCtrl.freeMode"/>
      <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.freeAttribute(attrCtrl.dexterity, $index, 0)" ng-if="attrCtrl.freeMode"/>
    </div>
  </td>
<td style="width:100px;">
  <div termindex term="{{attrCtrl.manipulation.name}}" class="attrLabel">
    {{attrCtrl.manipulation.name}}
  </div>
</td>
<td class="points-cell" style="width:245px;">
  <div ng-repeat="attrPt in attrCtrl.manipulation.points" style="display: inline-block;">
    <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.manipulation, $index, 1)" ng-if="!attrCtrl.freeMode"/>
    <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.freeAttribute(attrCtrl.manipulation, $index, 1)" ng-if="attrCtrl.freeMode"/>
  </div>
</td>
<td style="width:100px;">
  <div termindex term="{{attrCtrl.intelligence.name}}" class="attrLabel">
    {{attrCtrl.intelligence.name}}
  </div>
</td>
<td class="points-cell" style="width:245px;">
  <div ng-repeat="attrPt in attrCtrl.intelligence.points" style="display: inline-block;">
    <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.intelligence, $index, 2)" ng-if="!attrCtrl.freeMode"/>
    <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.freeAttribute(attrCtrl.intelligence, $index, 2)" ng-if="attrCtrl.freeMode"/>
  </div>
</td>
</tr>
<tr>
  <td style="width:100px;">
    <div termindex term="{{attrCtrl.stamina.name}}" class="attrLabel">
      {{attrCtrl.stamina.name}}
    </div>
  </td>
  <td class="points-cell" style="width:245px;">
    <div ng-repeat="attrPt in attrCtrl.stamina.points" style="display: inline-block;">
      <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.stamina, $index, 0)" ng-if="!attrCtrl.freeMode"/>
      <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.freeAttribute(attrCtrl.stamina, $index, 0)" ng-if="attrCtrl.freeMode"/>
    </div>
  </td>
<td style="width:100px;">
  <div termindex term="{{attrCtrl.appearance.name}}" class="attrLabel">
    {{attrCtrl.appearance.name}}
  </div>
</td>
  <td class="points-cell" style="width:245px;">
    <div ng-disabled="attrCtrl.isUglyClan()" ng-repeat="attrPt in attrCtrl.appearance.points" style="display: inline-block;">
      <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.appearance, $index, 1)" ng-if="!attrCtrl.freeMode"/>
      <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.freeAttribute(attrCtrl.appearance, $index, 1)" ng-if="attrCtrl.freeMode"/>
    </div>
  </td>
<td style="width:100px;">
  <div termindex term="{{attrCtrl.wits.name}}" class="attrLabel">
    {{attrCtrl.wits.name}}
  </div>
</td>
<td class="points-cell" style="width:245px;">
  <div ng-repeat="attrPt in attrCtrl.wits.points" style="display: inline-block;">
    <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.selectAttribute(attrCtrl.wits, $index, 2)" ng-if="!attrCtrl.freeMode"/>
    <img class="attrimg" ng-src="{{attrPt.img}}" ng-click="attrCtrl.freeAttribute(attrCtrl.wits, $index, 2)" ng-if="attrCtrl.freeMode"/>
  </div>
</td>
</tr>
</table>

<style>
  .num {
    padding-top: 30px;
    color: #BB0000;
    font-size: 24px;
  }
  .attrHead{
    font-size: 18.5px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .attrLabel{
    font-size: 16px;
    font-weight: 500;
    width: 87px;
  }
  .attrimg{
    width:15px;
    height: 15px;
    vertical-align: top;
    margin-top: 2px;
  }
</style>
